/* 
 body{
    background-image: url(https://images2.alphacoders.com/100/1006252.jpg);
    background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
*/


.container_detalle{
    background-color: white;
    
}